.App {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  position: relative;
}
div#root{
  overflow-x: hidden;
}
.w-100{
  right:0;
  width: 100%;
}
.fixed-top{
  position: fixed;
  left:0;
  right:0;
  top: 0;
  z-index: 999999;
}
.App.light, .info-box{
  background: #ffffff;
}
.App.mojave, .App .mojave, .mojave .info-box{
  background-color: #081B33;
  color: #767D92;
}
.App.charcoal, .App .charcoal {
  background-color: #353C51;
}

button:active {
  outline: none;
  border: none;
}

button:focus {outline:0;}


button{
  margin: 1rem;
  border-radius: 3rem;
  padding: 0.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  background: none;
}
button.action-card{
  border-radius: 0rem;

}
button.action-btn {
  font-size: 1.5rem;
}

.mojave .toggle-grid{
  color: #353C51;
}

.toggle-grid{
  font-size: 1rem;
}
.toggle-grid.active{
  background-color: rgb(61, 194, 63);
  color: #eee;
}
div{
  text-align: center;
}

canvas {
  margin: 1.5rem;
}
div.chart-area{
  width: 100%;
}
.row{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.mr-3, .mx-3{
  margin-right: 2.3rem; 
}
.ml-3, .mx-3{
  margin-left: 2.3rem; 
}
.mr-1, .mx-1{
  margin-right: 0.8rem; 
}
.ml-1, .mx-1{
  margin-left: 0.8rem; 
}

.mb-1, .my-1{
  margin-bottom: 0.8rem; 
}

.mb-3, .my-3{
  margin-bottom: 2.3rem; 
}

.mt-5, .my-5{
  margin-top: 5rem;
}
.mt-3, .my-3{
  margin-top: 2.3rem; 
}

.mt-1, .my-1{
  margin-top: 1.4rem; 
}

.pt-3{
  padding-top: 3rem;
}
.pb-1, .py-1{
  padding-bottom: 1rem;
}

.text-center{
  text-align: center;
}
.border-bottom{
  border-bottom: #eee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-top{
  border-top: #eee;
  border-top-style: solid;
  border-top-width: 1px;
}

.fix-bottom{
  position: fixed;
  bottom: 0px;
  z-index: 10000;
}
.fix-full-x{
  right: 0px;
  left: 0px;
}

.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.d-inline{
  display: inline;
}
.d-inline-flex{
  display: inline-flex;
}
.d-none{
  display: none;
}
.info-box{
  position: absolute;
  text-align: center;
  border-radius: .61rem;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: .3rem;
}

@media only screen and (max-width : 500px){
  .mr-3, .mx-3{
    margin-right: 0.3rem; 
  }
  .ml-3, .mx-3{
    margin-left: 0.3rem; 
  }
  .mr-1, .mx-1{
    margin-right: 0.1rem; 
  }
  .ml-1, .mx-1{
    margin-left: 0.1rem; 
  }
  button{
    margin: .1rem;
  }
}

.col-4{
  width: 33%;
}
.col-3{
  width: 25%;
}