body.default{
  background-image: url("images/bgs/default.png");
  background-position: top right;
  background-size: cover;
  
}
.App {
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  position: relative;
}
div#root{
  overflow-x: hidden;
}
.w-100{
  right:0;
  width: 100%;
}
.fixed-top{
  position: fixed;
  left:0;
  right:0;
  top: 0;
  z-index: 999999;
}
body.light, .info-box{
  background: #ffffff;
}
.bg-white{
  background: #ffffff !important;
}
body.mojave, body .mojave, .mojave .info-box{
  background-color: #081B33;
  color: #ffffff;
}
.mojave *{
  color: #ffffff !important;
}
.App.charcoal, .App .charcoal {
  background-color: #353C51;
}

button:active {
  outline: none;
  border: none;
}

button:focus {outline:0;}


button{
  margin: 1rem;
  border-radius: 3rem;
  padding: 0.3rem 1rem;
  border-width: 1px;
  border-style: solid;
  background: whitesmoke;
}
button.action-card{
  border-radius: 0rem;

}
button.action-btn {
  font-size: 1.5rem;
}

.mojave .toggle-grid{
  color: #353C51;
}

.toggle-grid{
  font-size: 1rem;
}
.toggle-grid.active{
  background-color: rgb(61, 194, 63);
  color: #eee;
}
div{
  text-align: center;
}

canvas {
  margin: 1.5rem;
}
div.chart-area{
  width: 100%;
}
.row{
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.mr-3, .mx-3{
  margin-right: 2.3rem; 
}
.ml-3, .mx-3{
  margin-left: 2.3rem; 
}
.mr-1, .mx-1{
  margin-right: 0.8rem; 
}
.ml-1, .mx-1{
  margin-left: 0.8rem; 
}

.mb-1, .my-1{
  margin-bottom: 0.8rem; 
}

.mb-3, .my-3{
  margin-bottom: 2.3rem; 
}

.mt-5, .my-5{
  margin-top: 5rem;
}
.mt-3, .my-3{
  margin-top: 2.3rem; 
}

.mt-1, .my-1{
  margin-top: 1.4rem; 
}

.pt-3{
  padding-top: 3rem;
}
.pt-1, .py-1{
  padding-top: 1em;
}
.pb-1, .py-1{
  padding-bottom: 1rem;
}
.pl-1, .px-1{
  padding-left: 1rem;
}
.pr-1, .px-1{
  padding-right: 1rem;
}

.text-center{
  text-align: center;
}
.border-bottom{
  border-bottom: #eee;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-top{
  border-top: #eee;
  border-top-style: solid;
  border-top-width: 1px;
}
.active_choice{
  border: #081B33 solid 1px;
  border-radius: 3em;
  background-color: #353C51;
}
.fix-bottom{
  position: fixed;
  bottom: 0px;
  z-index: 10000;
}
.fix-top{
  position: fixed;
  top: 0px;
  z-index: 10000;
}
.fix-full-x{
  right: 0px;
  left: 0px;
}
.img-fluid{
  min-width: 4em;
  max-width: 4em;
  height: auto;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.d-inline{
  display: inline;
}
.d-inline-flex{
  display: inline-flex;
}
.d-inline-block{
  display: inline-block;
}
.d-none{
  display: none;
}
.info-box{
  position: absolute;
  text-align: center;
  border-radius: .61rem;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  padding: .3rem;
}

@media only screen and (max-width : 500px){
  .mr-3, .mx-3{
    margin-right: 0.3rem; 
  }
  .ml-3, .mx-3{
    margin-left: 0.3rem; 
  }
  .mr-1, .mx-1{
    margin-right: 0.1rem; 
  }
  .ml-1, .mx-1{
    margin-left: 0.1rem; 
  }
  button{
    margin: .1rem;
  }
  .action-card{
    width: 98%;
  }
}

.col-4{
  width: 33%;
}
.col-6{
  width: 50%;
}
.col-3{
  width: 25%;
}

.form-control:focus {
  border-color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgba(255, 255, 255, 0.6);
}
.form-control{
  height: calc(2.78rem + 2px);
  border-width: 1px;
  border-color: rgba(135, 185, 241, 0.2);
  border-radius: 2px;
  background: transparent;
}